*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    display: block;
    background-color: rgb(255, 255, 255);
}
#topbar {
    background-color: rgb(0,0,0);
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    height: 40px;

    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    
  }


#topbar .nav-logo{
    height: 40px;
    padding-top: 2px;
}
#topbar a{
    text-decoration: none;
}


#topbar a:hover {
    text-decoration: none;
  }

#head-content-container{
    height: 250px;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

.search-container a.active {
    background-color: #2196F3;
    color: rgb(255, 255, 255);
  }

.search-container input[type=text]{
    padding: 6px;
    border: 1px solid ;
    margin-top: 8px;
    border-color:rgb(108, 107, 107);
    font-size: 17px;
}
.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(112, 110, 110);
    font-size: 17px;
    border: 1px solid;
    cursor: pointer;
  }

.gridCustom{
    min-height: 300px;
    margin:3px;
}

.card{
    text-align: center;
    margin-top: 30px;
}

.card .img-wrapper{
    margin:5px;
}

.card .card-title{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.card .card-title:hover{
    text-decoration: none;
    color: cyan;
    font-weight: 700 ;
}
.head-logo {
    margin-top: 10px;
}